# Context for Visual Studio Code
.vscode/

# Git Ignore
.gitignore

# Job Applications
jobs/Patrick Humphries Cover Letter.docx
jobs/Patrick Humphries Cover Letter.pdf
jobs/atrick Humphries Resume.docx
jobs/jobsframe.png
jobs/UCLA/*

