<!DOCTYPE html>

{% extends "base.html" %}

{% block title %}
Humphries Portfolio
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
{{ super() }}

<div class="container-fluid">
    <div class="row padding_5px">
        <h2>Portfolio of Applied Data Analytics by Patrick Humphries</h2>
        <table class="tablle table-striped">
            <thead>
                <tr>
                    <th>Link</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="https://humphries-citibike.herokuapp.com/" target="_blank"><b>CitiBike using Tableau</b></a></td>
                    <td><b>This the initial analysis of data for CitiBike of New York City.<br />
                            Technologies that were utilized:
                            <ul class="list-group">
                                <li class="list-group-item">Python: ETL and API</li>
                                <li class="list-group-item">Flask: API</li>
                                <li class="list-group-item">Postgres: Store and Analysis</li>
                                <li class="list-group-item">OData: Open Data Protocol for Data and Metadata</li>
                                <li class="list-group-item">Tableau: Presentation</li>
                            </ul>
                        </b></td>
                </tr>
                <tr>
                    <td><a href="https://github.com/phumphri/CitiBike/blob/master/Patrick_Humphries_Resume.pdf" target="_blank"><b>Resume</b></a></td>
                    <td><b>R&#0233;sum&#0233; downloadable from GitHub.</b></td>
                </tr>
                <tr>
                    <td><a href="http://humphries-www.s3-website-us-west-1.amazonaws.com/index.html" target="_blank"><b>humphries-www</b></a></td>
                    <td><b>Personal website.<br />
                    Flask and Python are used to create static webpages.<br />
                    AWS Console is used to upload the local website to bucket humphries-www on S3.</b></td>
                </tr>
                <tr>
                    <td><a href="/oops" target="_blank"><b>Oops!</b></a></td>
                    <td><b>Simulate a page not found.</b></td>
                </tr>
                <tr>
                    <td><a href="/bummer" target="_blank"><b>Bummer!</b></a></td>
                    <td><b>Simulate a server internal error.</b></td>
                </tr>


            </tbody>
        </table>
    </div>
</div>

{% endblock %}