<!DOCTYPE html>

{% extends "base.html" %}

{% block title %}
Humphries Portfolio
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
{{ super() }}

<div class="container-fluid">
    <div class="col-lg-12">
        <h2>Portfolio of Applied Data Analytics by Patrick Humphries</h2>
    </div>
</div>
<div class="container-fluid">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-4">
        <div class="row">
            <fieldset>
                <legend>Data Analytics Boot Camp</legend>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Link</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="https://humphries-citibike.herokuapp.com/" target="_blank"><b>humphries-citibike</b></a></td>
                            <td><b>This the initial analysis of data for CitiBike of New York City.<br />
                                    Technologies that were utilized:
                                    <ul class="list-group">
                                        <li class="list-group-item">Python: ETL and API</li>
                                        <li class="list-group-item">Flask: API</li>
                                        <li class="list-group-item">Postgres: Store and Analysis</li>
                                        <li class="list-group-item">OData: Open Data Protocol for Data and Metadata</li>
                                        <li class="list-group-item">Tableau: Presentation</li>
                                    </ul>
                                </b></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <fieldset>
                <legend>Ancillary</legend>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td><a href="https://humphries-flashcards.herokuapp.com/" target="_blank"><b>humphries-flashcards</b></a></td>
                            <td><b>Flashcards.<br />
                                    Flask and Python are used to create a flashcard application.<br />
                                    AWS/S3 was used for persistent storage and HTML Session Storage for responsive local storage.. <br />
                                    This was used in the preparation for courses in Applied Data Science at USC. </b></td>
                        </tr>
                        <tr>
                            <td><a href="https://humphries-vocabulary.herokuapp.com/" target="_blank"><b>humphries-vocabulary</b></a></td>
                            <td><b>Vocabulary Builder.<br />
                                    Flask and Python are used to create a vocabulary building application.<br />
                                    AWS/RDS was used for persistent storage on a Postgres database. <br />
                                    This was used in the preparation for the GRE examination. </b></td>
                        </tr>
                        <tr>
                            <td><a href="http://humphries-www.s3-website-us-west-1.amazonaws.com/index.html" target="_blank"><b>humphries-www</b></a></td>
                            <td><b>Personal website.<br />
                                    Flask and Python are used to create static webpages.<br />
                                    AWS Console is used to upload the local website to bucket humphries-www on S3. <br />
                                    This is a work-in-progress. </b></td>
                        </tr>
                        <tr>
                            <td><a href="https://github.com/phumphri/humphries-portfolio/blob/master/Patrick%20Humphries%20Resume.pdf" target="_blank"><b>Resume</b></a></td>
                            <td><b>R&#0233;sum&#0233; downloadable from GitHub.</b></td>
                        </tr>
                        <tr>
                            <td><a href="/oops" target="_blank"><b>Oops!</b></a></td>
                            <td><b>Simulate a page not found.</b></td>
                        </tr>
                        <tr>
                            <td><a href="/bummer" target="_blank"><b>Bummer!</b></a></td>
                            <td><b>Simulate a server internal error.</b></td>
                        </tr>
                        <tr>
                            <td><a href="http://viterbi.cloud?n=1"><b>viterbi.cloud</b></a></td>
                            <td><b>Back to starting page.</b></td>
                        </tr>


                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>

    <div class="col-lg-1">
    </div>

    <div class="col-lg-4">
        <div class="row">
            <fieldset>
                <legend>INF-554: Data Visualization</legend>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Week</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="/sae" target="_blank"><b>Week 1</b></a></td>
                            <td>
                                Introduction to Information Visualization<br />
                                Data: South America Energy<br />
                                Tools: Google Charts
                            </td>
                        </tr>
                        <tr>
                            <td><a href="/inkscape" target="_blank"><b>Week 2: Inkscape</b></a></td>
                            <td>
                                Survey of Visualization Techniques
                                Data: South America Energy<br />
                                Tools: Google Sheets and Inkscape
                            </td>
                        </tr>
                        <tr>
                            <td><a href="/svg" target="_blank"><b>Week 2: SVG</b></a></td>
                            <td>
                                Survey of Visualization Techniques
                                Data: South America Energy<br />
                                Tools: Google Sheets and SVG
                            </td>
                        </tr>
                        <tr>
                            <td><a href="/not_implemented" target="_blank"><b>Week 3</b></a></td>
                            <td>Developing Interactive Graphics: D3.js</td>
                        </tr>
                        <tr>
                            <td><a href="/not_implemented" target="_blank"><b>Week 4</b></a></td>
                            <td>Statistical Graphs: R and ggplot2</td>
                        </tr>
                        <tr>
                            <td><a href="/not_implemented" target="_blank"><b>Week 5</b></a></td>
                            <td>Balancing Function and Esthetics: Python and SVG</td>
                        </tr>
                        <tr>
                            <td><a href="/not_implemented" target="_blank"><b>Week 6</b></a></td>
                            <td>The Eye and the Visual Brain: Raphael.js</td>
                        </tr>
                        <tr>
                            <td><a href="/not_implemented" target="_blank"><b>Week 7</b></a></td>
                            <td>Preatttentive Features: Gestalt</td>
                        </tr>
                        <tr>
                            <td><a href="/not_implemented" target="_blank"><b>Week 8</b></a></td>
                            <td>Project Proposals</td>
                        </tr>
                        <tr>
                            <td><a href="/not_implemented" target="_blank"><b>Week 9</b></a></td>
                            <td>Depth Perception and Cue Theory: WebGL and Three.js</td>
                        </tr>
                        <tr>
                            <td><a href="/not_implemented" target="_blank"><b>Week 10</b></a></td>
                            <td>How the Brain Recognizes Objects</td>
                        </tr>
                        <tr>
                            <td><a href="/not_implemented" target="_blank"><b>Week 11</b></a></td>
                            <td>Colors and Color Vision: D3.js Color Generators</td>
                        </tr>
                        <tr>
                            <td><a href="/not_implemented" target="_blank"><b>Week 12</b></a></td>
                            <td>Project Presentation: Paper Submission and Discussion</td>
                        </tr>
                        <tr>
                            <td><a href="/not_implemented" target="_blank"><b>Week 13</b></a></td>
                            <td>Course Review: Flashcards</td>
                        </tr>
                        <tr>
                            <td><a href="/not_implemented" target="_blank"><b>Week 14</b></a></td>
                            <td>Project Presentations: Presentation and YouTube</td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</div>

{% endblock %}