<!DOCTYPE html>

{% extends "base.html" %}

{% block title %}
Humphries Portfolio
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
{{ super() }}

<div class="container-fluid">
    <div class="col-sm-12">
        <h2>Portfolio of Applied Data Analytics by Patrick Humphries</h2>
    </div>
</div>
<div class="container-fluid">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
        <div class="row">
            <fieldset>
                <legend>Data Analytics Boot Camp</legend>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Link</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="https://humphries-citibike.herokuapp.com/" target="_blank"><b>humphries-citibike</b></a></td>
                            <td><b>This the initial analysis of data for CitiBike of New York City.<br />
                                    Technologies that were utilized:</b>
                                <ul>
                                    <li>Data Acquisition: Python</li>
                                    <li>Data Modeling: Postgres</li>
                                    <li>Data Access: Flask</li>
                                    <li>Data Visualization: Tableau</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <fieldset>
                <legend>Ancillary</legend>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td><a href="https://humphries-flashcards.herokuapp.com/" target="_blank"><b>humphries-flashcards</b></a></td>
                            <td><b>Flashcards</b><br />
                                Flask and Python are used to create a flashcard application.<br />
                                AWS/S3 was used for persistent storage and HTML Session Storage for responsive local storage.. <br />
                                This was used in the preparation for courses in Applied Data Science at USC.</td>
                        </tr>
                        <tr>
                            <td><a href="https://humphries-vocabulary.herokuapp.com/" target="_blank"><b>humphries-vocabulary</b></a></td>
                            <td><b>Vocabulary Builder</b><br />
                                Flask and Python are used to create a vocabulary building application.<br />
                                AWS/RDS was used for persistent storage on a Postgres database. <br />
                                This was used in the preparation for the GRE examination.</td>
                        </tr>
                        <tr>
                            <td><a href="http://humphries-www.s3-website-us-west-1.amazonaws.com/index.html" target="_blank"><b>humphries-www</b></a></td>
                            <td><b>Personal website.</b><br />
                                Flask and Python are used to create static webpages.<br />
                                AWS Console is used to upload the local website to bucket humphries-www on S3. <br />
                                This is a work-in-progress.</td>
                        </tr>
                        <tr>
                            <td><a href="https://github.com/phumphri/humphries-portfolio/blob/master/Patrick%20Humphries%20Resume.pdf" target="_blank"><b>Resume</b></a></td>
                            <td><b>R&#0233;sum&#0233; downloadable from GitHub.</b></td>
                        </tr>
                        <tr>
                            <td><a href="/oops" target="_blank"><b>Oops!</b></a></td>
                            <td><b>Simulate a page not found.</b></td>
                        </tr>
                        <tr>
                            <td><a href="/bummer" target="_blank"><b>Bummer!</b></a></td>
                            <td><b>Simulate a server internal error.</b></td>
                        </tr>
                        <tr>
                            <td><a href="http://viterbi.cloud?n=1"><b>viterbi.cloud</b></a></td>
                            <td><b>Back to starting page.</b></td>
                        </tr>


                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>

    <div class="col-sm-1">
    </div>

    <div class="col-sm-5">
        <div class="row">
            <fieldset>
                <legend>Master of Science, Applied Data Science</legend>
                <div style="padding:0em 2em 2em">
                    <a href="https://sites.google.com/a/usc.edu/pvhumphr/" target="_blank"><b>Student Website at USC</b></a>
                </div>
            </fieldset>
            <fieldset>
                <legend>INF 554: Information Visualization</legend>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Week</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="https://humphries-inf554.herokuapp.com/Assignment%2001/index.html" target="_blank"><b>Assignment 1</b></a></td>
                            <td>
                                Topic: <b>Introduction to Information Visualization</b><br />
                                Data: South America Energy<br />
                                Tools: Google Charts
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://humphries-inf554.herokuapp.com/Assignment%2002/index.html" target="_blank"><b>Assignment 2</b></a></td>
                            <td>
                                Topic: <b>Survey of Visualization Techniques</b><br />
                                Data: South America Energy<br />
                                Tools: Google Sheets, Inkscape, and SVG
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://humphries-inf554.herokuapp.com/Assignment%2003/index.html" target="_blank"><b>Assignment 3</b></a></td>
                            <td>
                                Topic: <b>Nomenclature of Popular Visualization Tools</b><br />
                                Data: Infographics from New York Times and Forbes<br />
                                Tools: Inkscape rendering of a Visualization Wheel
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://humphries-inf554.herokuapp.com/Assignment%2004/index.html" target="_blank"><b>Assignment 4</b></a></td>
                            <td>
                                Topic: <b>Balancing Function and Estetics</b><br />
                                Data: World Bank Open Data for Rural Population Percentage<br />
                                Tools: D3.js for interactive visualizations: Table, Bar Chart, Scatterplot, Bubble Chart
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://inf554.github.io/a5-huff-n-puff/metro_bike_share_2.sozi.html#frame3875" target="_blank"><b>Assignment 5</b></a></td>
                            <td>
                                Topic: <b>Project Proposals</b><br />
                                Data: Metrobike Share<br />
                                Presentation: PechaKucha using Sozi
                            </td>
                        </tr>
                        <tr>
                            <td><a href="/http://pdms.usc.edu/~pvhumphr/a6/a6.html" target="_blank"><b>Assignment 6</b></a></td>
                            <td>
                                Topic: <b>The Eye and the Visual Brain</b><br />
                                Data: Ten Countries from World Bank<br />
                                Graphics: Slopegraph, Bar Chart, Lollipop Chart, Bubble Chart
                        </tr>
                        <tr>
                            <!-- <td><a href="https://humphries-inf554.herokuapp.com/Assignment%2007/index.html" target="_blank"><b>Assignment 7</b></a></td> -->
                            <td><a href="//http://pdms.usc.edu/~pvhumphr/a7/a7.html" target="_blank"><b>Assignment 7</b></a></td>
                            <td>
                                Topic: <b>Preatttentive Features</b><br />
                                Data: South America Energy from the United Nations<br />
                                Tools: D3.js and an Interactive Bar Chart: Selection, Sorting, Scaling
                            </td>
                        </tr>
                        <tr>
                            <td><a href="http://pdms.usc.edu/~pvhumphr/a8/index.html" target="_blank"><b>Assignment 8</b></a></td>
                            <td>
                                Topic: <b>Colors and Color Vision</b><br />
                                Data: South America Energy<br />
                                Graphics: Circle Packing Chart, Line Chart, Pie Chart
                            </td>
                        </tr>
                        <tr>
                            <td><a href="http://pdms.usc.edu/~pvhumphr/a9/index.html" target="_blank"><b>Assignment 9</b></a></td>
                            <td>
                                Topic: <b>Depth Perception and Cue Theory</b><br />
                                Data: South America Energy Production and Los Angeles Bike Routes<br />
                                Graphics: Proportional Symbol Map, Choropleth, Geojson
                            </td>
                        </tr>
                        <tr>
                            <td><a href="http://pdms.usc.edu/~pvhumphr/huff_n_puff/project_01/dist/index.html" target="_blank"><b>Project</b></a></td>
                            <td>
                                Topic: <b>Project Presentations</b><br />
                                <a href="https://www.youtube.com/watch?v=0wVWWAB7xMY" target="_blank">YouTube</a><br />
                                <a href="http://pdms.usc.edu/~pvhumphr/huff_n_puff/README.md" target="_blank">README.md</a><br />
                                <a href="http://pdms.usc.edu/~pvhumphr/huff_n_puff/Metrobike%20Share.pdf" target="_blank">Paper</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</div>

{% endblock %}