<!DOCTYPE html>
<html>

<head>
    <title></title>

    <!-- metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Personal Decorations -->
    <link rel="stylesheet" type="text/css" href="https://humphries-inf554.s3-us-west-1.amazonaws.com/viterbi_3.css" />
    <link rel="shortcut icon" href="https://www.usc.edu/favicon.ico" />
    <link rel="favicon" href="https://www.usc.edu/favicon.ico" />
</head>

<body>
    <!-- Bootstrap -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>

    <!-- Common Heading -->
    <div class="container-fluid">
        <div class="row cardinal_background">
            <div class="col-lg-2 cardinal project_name">
                <img src="https://vsoeapp1.vsoe.usc.edu/images/USC-Bar-cardinal.gif">
                <br />
            </div>
            <div class="col-lg-7 cardinal_background project_name">
                South America Energy
            </div>
            <div class="col-lg-3 cardinal_background bootcamp_name">
                <p class="gold">Patrick Humphries, M.B.A.
                    <br />
                    INF 554: Data Visualization
                    <br />
                    August 26, 2019
                    <br />
                    <a href="/index.html">Index</a>
                </p>
            </div>
        </div>
        <div class="row">

            <!-- Left margin containing navigation. -->
            <div class="col-lg-1"></div>

            <!-- Display the SVG export drawn in Inkscape. -->
            <div class="col-lg-10">
                <h1>Inkscape</h1>
                Under Construction
            </div>
            
        </div>

    </div>

</body>

</html>