<!DOCTYPE html>

{% extends "base.html" %}

{% block title %}{{ project_name|title }}{% endblock %}


{% block body %}
{{ super() }}

<div class="container-fluid">
    <div class="col-sm-12">
        <h2>INF552: Introduction to Machine Learning</h2>
    </div>
</div>
<div class="container-fluid">

    <div class="col-sm-4" style="padding:0em 2em 2em">
        <div class="row">
            <fieldset>
                <legend>Description</legend>
                <p>Practical applications of machine learning techniques to real-world problems.
                    Uses in data mining and recommendation systems and for building adaptive user interfaces.
                </p>
                <p><a href="https://catalogue.usc.edu/preview_program.php?catoid=11&poid=11335&hl=applied+data+science&returnto=search" target="_blank"><b>USC Catalogue 2019-2020</b></a>
                </p>
            </fieldset>
        </div>
    </div>

    <div class="col-sm-8" style="padding:0em 2em 2em">
        <div class="row">
            <fieldset>
                <legend>Assignments</legend>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Assignment</th>
                            <th>Description</th>
                            <th>Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="http://humphries-inf552.s3-website-us-west-1.amazonaws.com/inf552_project_humphries.pdf" target="_blank"><b>Project</b></a></td>
                            <td>
                                Digit Recognizer
                            </td>
                            <td>
                                <a target="_blank" href="https://github.com/phumphri/humphries-portfolio/blob/master/static/py/inf552/project">GitHub</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="http://humphries-inf552.s3-website-us-west-1.amazonaws.com/inf552_assignment_1_humphries.pdf" target="_blank"><b>Assignment 1</b></a></td>
                            <td>
                                Decision Trees
                            </td>
                            <td>
                                <a target="_blank" href="https://github.com/phumphri/humphries-portfolio/blob/master/static/py/inf552/assignment_1">GitHub</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="http://humphries-inf552.s3-website-us-west-1.amazonaws.com/inf552_assignment_2_humphries.pdf" target="_blank"><b>Assignment 2</b></a></td>
                            <td>
                                <ul>
                                    <li>k-Means Algorithm</li>
                                    <li>Gaussian Mixture Model</li>
                                </ul>
                            </td>
                            <td>
                                <a target="_blank" href="https://github.com/phumphri/humphries-portfolio/blob/master/static/py/inf552/assignment_2">GitHub</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="http://humphries-inf552.s3-website-us-west-1.amazonaws.com/inf552_assignment_3_humphries.pdf" target="_blank"><b>Assignment 3</b></a></td>
                            <td>
                                Principal Component Analysis
                            </td>
                            <td>
                                <a target="_blank" href="https://github.com/phumphri/humphries-portfolio/blob/master/static/py/inf552/assignment_3">GitHub</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="http://humphries-inf552.s3-website-us-west-1.amazonaws.com/inf552_assignment_4_humphries.pdf" target="_blank"><b>Assignment 4</b></a></td>
                            <td>
                                <ul>
                                    <li>Perceptron Learning Algorithm</li>
                                    <li>Pocket Algorithm</li>
                                    <li>Logistic Regression Model</li>
                                    <li>Linear Regression Model</li>
                                </ul>
                            </td>
                            <td>
                                <a target="_blank" href="https://github.com/phumphri/humphries-portfolio/blob/master/static/py/inf552/assignment_4">GitHub</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="http://humphries-inf552.s3-website-us-west-1.amazonaws.com/inf552_assignment_5_humphries.pdf" target="_blank"><b>Assignment 5</b></a></td>
                            <td>
                                Neural Networks
                            </td>
                            <td>
                                <a target="_blank" href="https://github.com/phumphri/humphries-portfolio/blob/master/static/py/inf552/assignment_5">GitHub</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="http://humphries-inf552.s3-website-us-west-1.amazonaws.com/inf552_assignment_6_humphries.pdf" target="_blank"><b>Assignment 6</b></a></td>
                            <td>
                                Support Vector Machines
                            </td>
                            <td>
                                <a target="_blank" href="https://github.com/phumphri/humphries-portfolio/blob/master/static/py/inf552/assignment_6">GitHub</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="http://humphries-inf552.s3-website-us-west-1.amazonaws.com/inf552_assignment_7_humphries.pdf" target="_blank"><b>Assignment 7</b></a></td>
                            <td>
                                Hidden Markov Model
                            </td>
                            <td>
                                <a target="_blank" href="https://github.com/phumphri/humphries-portfolio/blob/master/static/py/inf552/assignment_7">GitHub</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</div>

{% endblock %}