<!DOCTYPE html>

{% extends "base.html" %}

{% block title %}{{ project_name|title }}{% endblock %}


{% block head %}
{{ super() }}

    <!-- Metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="inf554, assignment_1, humphries">
    <meta name="Author" content="Patrick Humphries">
    <meta http-equiv="charset" content="utf-8">
    <meta http-equiv="content-type" content="text/html">

    <!-- Personal Decorations -->
    <link rel="stylesheet" type="text/css" href="https://humphries-inf554.s3-us-west-1.amazonaws.com/viterbi_3.css" />
    <link rel="shortcut icon" href="https://www.usc.edu/favicon.ico" />
    <link rel="favicon" href="https://www.usc.edu/favicon.ico" />

    <!-- South America Energy data from Google Sheets -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/inf554/assignment_2/total_energy_by_production_and_import.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/inf554/assignment_2/sae_hidden_or_visible_2.js') }}"></script>
    
    <!-- Google Libraries -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart'] });
    </script>

    <!-- Data Driven Documents -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    {% endblock %}

    {% block body %}
    {{ super() }}

    <!-- Call after page is loaded. -->
    <script>
        window.onload = draw_total_energy_by_production_and_import(1990)
    </script>


    <div class="container-fluid">

        <!-- Left margin with navigation. -->
        <div class="row">
            <!-- Hide or unhide rows. -->
            <div class=row>
                <div class="btn-group btn-group-lg">
                    <button type="button" class="btn btn-primary cardinal_background gold_color" onclick="sae_hidden_or_visible_2('assignment')">
                        Assignment
                    </button>
                    <button type="button" class="btn btn-primary cardinal_background gold_color" onclick="sae_hidden_or_visible_2('inkscape')">
                        Inkscape
                    </button>
                    <button type="button" class="btn btn-primary cardinal_background gold_color" onclick="sae_hidden_or_visible_2('svg')">
                        SVG
                    </button>
                    <button type="button" class="btn btn-primary cardinal_background gold_color" onclick="sae_hidden_or_visible_2('all')">
                        All
                    </button>
                </div>
            </div>
        </div>

        <!-- This row displays assignment, approach, provenance, and links to code. -->
        <div id="assignment" class="row">
            <div class="col-sm-3">
                <fieldset>
                    <legend>Assignment</legend>
                    <p><b>Assignment 2. </b> Use UN Data for the same 10
                        countries of Assignment 1 to create a bubble cloud
                        with Inkscape (http://www.inkscape.org). Recreate
                        the same bubble cloud using using SVG code (i.e.,
                        writing SVG yourself not the SVG created by
                        Inkscape!) and using javascript (i.e., dynamically
                        generating the SVG). Use node.js to develop and
                        document your set-up in the README.md.
                    </p>
                </fieldset>
            </div>
            <div class="col-sm-3">
                <fieldset>
                    <legend>Approach</legend>
                    <p>Since the author used armed forces of South America to critique a newpaper infographic, the approach taken was do something similar for energy</p>
                    <p>A Google Sheet was populated with energy data for the twelve sovereign nations of South America.</p>
                    <p>Using this Google Sheet, bubble charts were created using Inkscape and SVG.</p>
                </fieldset>
            </div>
            <div class="col-sm-3">
                <fieldset>
                    <legend>Provenance</legend>
                    <p>File "SYB62_T23_201904_Production, Trade and Supply of Energy" was downloaded from http://data.un.org.</p>
                    <p>Using the QUERY function of Google Sheets, data was selected and organized into tables.</p>
                    <p>The <i>values</i> of these tables were copied to a new Google Sheet. This Google sheet was used as the source for the following charts.</p>
                    <p>This Google Sheet was published to the web with View authority granted to Public.</p>
                </fieldset>
            </div>
            <div class="col-sm-3">
                <fieldset>
                    <legend>Code</legend>
                    <p><a target="_blank" href="https://github.com/phumphri/humphries-portfolio/blob/master/templates/inf554/assignment_2.html">assignment_2.html</a></p>
                    <p><a target="_blank" href="https://github.com/phumphri/humphries-portfolio/blob/master/static/js/inf554/assignment_2/total_energy_by_production_and_import.js">total_energy_by_production_and_import.js</a></p>
                    <p><a target="_blank" href="https://github.com/phumphri/humphries-portfolio/blob/master/static/js/inf554/assignment_2/sae_hidden_or_visible_2.js">sae_hidden_or_visible_2.js</a></p>
                    <p><a target="_blank" href="https://github.com/phumphri/humphries-portfolio/blob/master/static/img/inf554/assignment_2/assignment_2.svg">assignment_2.svg</a></p>
                </fieldset>
                <fieldset>
                    <legend>Data</legend>
                    <p><a target="_blank" href="https://docs.google.com/spreadsheets/d/1CeiVB_u3H8lGjD9KlxkKzsdhivRMPKF0D8XT2qAzt0Y/edit#gid=703773082">SA_Energy_Data</a></p>
                </fieldset>
            </div>
        </div>

        <!-- Total Energy by Production and Net Imports -->
        <div id="inkscape" class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <fieldset class="padding_5px">
                    <legend>Energy Per Capita Using Inkscape 2016</legend>
                    <table class="table table-striped text-right">
                        <thead>
                            <tr>
                                <th class="text-right">Country</th>
                                <th class="text-right">Production</th>
                                <th class="text-right">Import</th>
                                <th class="text-right">Per Capita</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Arentina</td>
                                <td>3181</td>
                                <td>442</td>
                                <td>83</td>
                            </tr>
                            <tr>
                                <td>Bolivia</td>
                                <td>921</td>
                                <td>-549</td>
                                <td>34</td>
                            </tr>
                            <tr>
                                <td>Brazil</td>
                                <td>12,183</td>
                                <td>45</td>
                                <td>59</td>
                            </tr>
                            <tr>
                                <td>Chile</td>
                                <td>525</td>
                                <td>1,059</td>
                                <td>88</td>
                            </tr>
                            <tr>
                                <td>Colombia</td>
                                <td>5,243</td>
                                <td>-3,663</td>
                                <td>36</td>
                            </tr>
                            <tr>
                                <td>Ecuador</td>
                                <td>1,321</td>
                                <td>-691</td>
                                <td>38</td>
                            </tr>
                            <tr>
                                <td>Guyana</td>
                                <td>7</td>
                                <td>30</td>
                                <td>48</td>
                            </tr>
                            <tr>
                                <td>Paraguay</td>
                                <td>344</td>
                                <td>-76</td>
                                <td>39</td>
                            </tr>
                            <tr>
                                <td>Peru</td>
                                <td>974</td>
                                <td>-25</td>
                                <td>32</td>
                            </tr>
                            <tr>
                                <td>Suriname</td>
                                <td>39</td>
                                <td>-10</td>
                                <td>52</td>
                            </tr>
                            <tr>
                                <td>Uruguay</td>
                                <td>126</td>
                                <td>88</td>
                                <td>62</td>
                            </tr>
                            <tr>
                                <td>Venezuela</td>
                                <td>6,751</td>
                                <td>-4,453</td>
                                <td>73</td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>
            <div class="col-sm-8">
                <!-- <object data="sae_2.svg" type="image/svg+xml" width="1200" height="700"></object> -->
                <object type="image/svg+xml"  data="{{ url_for('static', filename='img/inf554/assignment_2/assignment_2.svg') }}"></object>
            </div>
        </div>

        <!-- Total Energy by Production and Net Imports -->
        <div id="svg" class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <fieldset class="padding_5px">
                    <legend>Energy Per Capita Using SVG</legend>
                    <label>Select Year</label>
                    <br />
                    <input type=radio name="total_energy" onclick="draw_total_energy_by_production_and_import(1990)" checked /> 1990
                    <br />
                    <input type=radio name="total_energy" onclick="draw_total_energy_by_production_and_import(1995)" /> 1995
                    <br />
                    <input type=radio name="total_energy" onclick="draw_total_energy_by_production_and_import(2000)" /> 2000
                    <br />
                    <input type=radio name="total_energy" onclick="draw_total_energy_by_production_and_import(2005)" /> 2005
                    <br />
                    <input type=radio name="total_energy" onclick="draw_total_energy_by_production_and_import(2010)" /> 2010
                    <br />
                    <input type=radio name="total_energy" onclick="draw_total_energy_by_production_and_import(2014)" /> 2014
                    <br />
                    <input type=radio name="total_energy" onclick="draw_total_energy_by_production_and_import(2015)" /> 2015
                    <br />
                    <input type=radio name="total_energy" onclick="draw_total_energy_by_production_and_import(2016)" /> 2016
                    <br />
                    <label>Analysis</label>
                    <br />
                    <textarea id="ta03" rows="8" cols="30" readonly>To begin, select a year.</textarea>
                </fieldset>
            </div>
            <div id="drawing" class="col-sm-8">
            </div>
        </div>
    </div>


    {% endblock %}