{% extends "base.html" %}

{% block title %}{{ project_name|title }}{% endblock %}

{% block head %}
{{ super() }}


    <!-- Metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Assignment_9, humphries">
    <meta name="Author" content="Patrick Humphries">
    <meta http-equiv="charset" content="utf-8">
    <meta http-equiv="content-type" content="text/html">

    <!-- Application Scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/inf554/assignment_9/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/inf554/assignment_9/build_heading_row.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/inf554/assignment_9/build_navigation_row.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/inf554/assignment_9/build_assignment_row.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/inf554/assignment_9/build_south_america_maps_row.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/inf554/assignment_9/build_south_america_maps.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/inf554/assignment_9/build_los_angeles_map_row.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/inf554/assignment_9/build_los_angeles_map.js') }}"></script>

    <!-- d3 geo -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/inf554/assignment_9/d3-geo.min.js') }}"></script>

    <!-- Data Driven Documents -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/colorbrewer.v1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>

    {% endblock %}

    {% block body %}
    {{ super() }}

    <!-- Call after page is loaded. -->
    <script type="text/javascript">
        main();
    </script>

    {% endblock %}
